<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamestoreproject.dao.GamesDao">
	<select id="selectGameList">
		SELECT GCODE, GNAME, GSYSTEM, GPUBLISHER, GMAKER, TO_CHAR(GRELEASE, 'YYYY-MM-DD') AS GRELEASE, GMAINIMG, GIMG, GVIDEO, GPRICE, GSALE, GDEADLINE, GTAG, GSTATE
	 	FROM GAMES
	 	WHERE ROWNUM BETWEEN 1 AND #{gameCount } AND GSTATE = '1'
	</select>
	
	<select id="selectGameDetail" parameterType="String" resultType="com.gamestoreproject.dto.Game">
		SELECT GCODE, GNAME, GCONTENT, GSYSTEM, GPUBLISHER, GMAKER, TO_CHAR(GRELEASE, 'YYYY-MM-DD') AS GRELEASE, GMAINIMG, GIMG, GVIDEO, GPRICE, GSALE, GDEADLINE, GTAG, GSTATE
		FROM GAMES
		WHERE GCODE = #{gcode }
	</select>
	
	<select id="selectRcode">
		SELECT NVL(MAX(RCODE), 'RC00000')
		FROM REVIEWS
	</select>
	
	<insert id="insertReview" parameterType="com.gamestoreproject.dto.Review">
		INSERT INTO REVIEWS(RCODE, RGCODE, RMCODE, RDATE, RSCORE, RLIKE, RCONTENT, RSTATE)
		VALUES(#{review.rcode }, #{review.rgcode }, #{review.rmcode }, SYSDATE, #{review.rscore }, 0, #{review.rcontent }, 'Y')
	</insert>
	
	<select id="selectReviewList" parameterType="String" resultType="hashmap">
		SELECT RE.RCODE AS RCODE, TO_CHAR(RE.RDATE, 'YYYY-MM-DD HH24:MI') AS RDATE, RE.RSCORE AS RSCORE, RE.RLIKE AS RLIKE, RE.RCONTENT AS RCONTENT, MEM.MNICKNAME AS NICKNAME, MEM.MPROFILE AS PROFILE, MEM.MID AS MID
		FROM REVIEWS RE INNER JOIN MEMBERS MEM
		     ON RE.RMCODE = MEM.MID
		WHERE RGCODE = #{gcode }
		ORDER BY RE.RDATE
	</select>
	
	<delete id="deleteReview" parameterType="String">
		DELETE FROM REVIEWS WHERE RCODE = #{rcode }
	</delete>
	
	<update id="modifyReview" parameterType="com.gamestoreproject.dto.Review">
		UPDATE REVIEWS
		SET RCONTENT = #{review.rcontent }, RSCORE = #{review.rscore }
		WHERE RCODE = #{review.rcode }
	</update>
	
	<select id="selectLikeId" parameterType="String" resultType="String">
		SELECT RLMID
		FROM REVIEWLIKES
		WHERE RLRCODE = #{rcode } AND RLMID = #{memId }
	</select>
	
	<select id="getReviewLikes" parameterType="String" resultType="String">
		SELECT NVL(RLIKE, '0')
		FROM REVIEWS
		WHERE RCODE = #{rcode }
	</select>
	
	<update id="addReviewLike" parameterType="String">
		UPDATE REVIEWS
		SET RLIKE = #{likes }
		WHERE RCODE = #{rcode }
	</update>
	
	<insert id="addLikeId">
		INSERT INTO REVIEWLIKES(RLRCODE, RLMID, RLSEL)
		VALUES(#{rcode }, #{memId }, #{selected })
	</insert>
	
	<delete id="deleteReviewLikes" parameterType="String">
		DELETE
		FROM REVIEWLIKES
		WHERE RLRCODE = #{rcode }
	</delete>
	
	<select id="selectScode">
		SELECT NVL(MAX(SCODE), 'SC00000')
		FROM SHOPBASKET
	</select>
	
	<insert id="insertGameBasket" parameterType="String">
		INSERT INTO SHOPBASKET(SCODE, SMCODE, SGCODE)
		VALUES(#{scode }, #{memId }, #{gcode })
	</insert>
	
</mapper>