<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamestoreproject.dao.OrderDao">
	<select id="getMaxocode" resultType="String">
		SELECT NVL(MAX(OCODE),'OD00000')
		FROM ORDERS
	</select>
	<insert id="insertOrder">
		INSERT INTO ORDERS(OCODE, ODATE, OPRICE, OORIGINPRICE, ODISCOUNT, OCCODE, OITEM, OMCODE, OSTATE)
		VALUES(#{ocode},SYSDATE,#{oprice},#{ooriginprice},#{odiscount},#{occode},#{oitem},#{omcode},'S')
	</insert>
	<delete id="deleteOrder">
		DELETE ORDERS WHERE OCODE = #{ocode}
	</delete>
	
	<update id="updatePoint">
		UPDATE MEMBERS
		SET MPOINT = MPOINT+#{point}
		WHERE MID = #{loginId}
	</update>
	<update id="deletePoint">
		UPDATE MEMBERS
		SET MPOINT = MPOINT-#{point}
		WHERE MID = #{loginId}
	</update>
</mapper>