<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamestoreproject.dao.GameDao">
	<select id="selectRankGameList" resultType="com.gamestoreproject.dto.Game">
		SELECT *
	 	FROM GAMES
	 	WHERE GSTATE = '1'
	</select>
	
	<select id="selectGameList">
		SELECT GCODE, GNAME, GSYSTEM, GPUBLISHER, GMAKER, TO_CHAR(GRELEASE, 'YYYY-MM-DD') AS GRELEASE, GMAINIMG, GIMG, GVIDEO, GPRICE, GSALE, GDEADLINE, GTAG, GSTATE
	 	FROM GAMES
	 	WHERE ROWNUM BETWEEN 1 AND #{gameCount } AND GSTATE = '1'
	</select>
	
	<!-- 검색엔진 -->
	<select id="getTyp" resultType="String">
		SELECT DISTINCT GNAME FROM GAMES WHERE GNAME LIKE '%'||#{text}||'%'
	</select>
	<!-- 검색엔진 끝 -->
	
	<!-- 게임 태그 -->
	<select id="gettag" resultType="String">
		SELECT DISTINCT GTAG FROM GAMES	
	</select>
	
	<!-- 쿠폰 시작 -->
	<insert id="makecoupon">
		INSERT INTO COUPONS(CCODE,CREGIST,CPERCENT,CDEADLINE,CUSED,COWNER,CDATE,CSTACK,CTYPE,CNUMBER)
		VALUES(#{ccode},'N',#{cpercent},SYSDATE+30,'N',#{cowner},SYSDATE,#{cstack},#{ctype},#{cnumber})
	</insert>
	
	<select id="codeCheck" resultType="int">
		SELECT NVL(COUNT(CNUMBER),0) FROM COUPONS WHERE CNUMBER = #{cnumber}
	</select>
	
	<select id="codecheck" resultType="int">
		SELECT NVL(COUNT(CNUMBER),0) FROM COUPONS WHERE CNUMBER = #{code} AND CSTACK != 0 AND CREGIST = 'N'
	</select>
	
	<select id="getcode" resultType="String">
		SELECT NVL(MAX(CCODE),'C000000') FROM COUPONS
	</select>
	
	<select id="gettype">
		SELECT CTYPE FROM COUPONS WHERE CNUMBER = #{code} AND CREGIST = 'N'
	</select>
	
	<select id="getpercent">
		SELECT CPERCENT FROM COUPONS WHERE CNUMBER = #{code} AND CREGIST = 'N'
	</select>
	
	<insert id="registcoupon">
		INSERT INTO COUPONS(CCODE,CREGIST,CPERCENT,CDEADLINE,CUSED,COWNER,CDATE,CSTACK,CTYPE,CNUMBER)
		VALUES(#{ccode},'Y',#{cpercent},SYSDATE+30,'N',#{cowner},SYSDATE,1,#{ctype},#{cnumber})
	</insert>
	
	<update id="stackCh">
		UPDATE COUPONS
		SET CSTACK = CSTACK-1 WHERE CNUMBER = #{code} AND CREGIST = 'N'
	</update>
	
	<select id="getcouponList" resultType="co">
		SELECT * FROM COUPONS WHERE COWNER = #{uid}
	</select>
	
	<select id="checkcode" resultType="int">
		SELECT NVL(COUNT(CCODE),0) FROM COUPONS WHERE CNUMBER = #{code} AND CREGIST = 'Y' AND COWNER = #{cowner} And CDEADLINE > SYSDATE
	</select>
	<select id="getgcode" resultType="String">
		SELECT GCODE FROM GAMES WHERE GNAME = #{gname}
	</select>
	<!-- 쿠폰 끝 -->
	
	<!-- 결제 시작 -->
	<select id="getInfo" resultType="gm">
		SELECT GCODE, GNAME, GSALE, GPRICE, GMAINIMG, GSALE, GTAG FROM GAMES WHERE LOWER(GNAME) LIKE LOWER(#{text}||'%')
	</select>
	<select id="getprice" resultType="int">
		SELECT GPRICE FROM GAMES WHERE GNAME = #{text}
	</select>
	<select id="getMemPoint" resultType="String">
		SELECT MPOINT FROM MEMBERS WHERE MID = #{mid}
	</select>
	<select id="getTotalMemPoint" resultType="String">
		SELECT SUM(OPRICE) FROM ORDERS WHERE OMCODE = #{mid} AND OITEM = 'point'
	</select>
	<select id="getMemUsedPoint" resultType="String">
		SELECT NVL(SUM(OPRICE),0) FROM ORDERS WHERE OMCODE = #{mid} AND OITEM != 'point'
	</select>
	<select id="getMemOrder" resultType="od">
		SELECT * FROM ORDERS WHERE OMCODE = #{mid} ORDER BY ODATE DESC
	</select>
	<select id="getMNick" resultType="String">
		SELECT MNICKNAME FROM MEMBERS WHERE MID = #{mid}
	</select>
	<!-- 결제 끝 -->
	
	<!-- 게임 디테일 시작 -->
	<select id="selectGameDetail" parameterType="String" resultType="com.gamestoreproject.dto.Game">
		SELECT GCODE, GNAME, GCONTENT, GSYSTEM, GPUBLISHER, GMAKER, TO_CHAR(GRELEASE, 'YYYY-MM-DD') AS GRELEASE, GMAINIMG, GIMG, GVIDEO, GPRICE, GSALE, GDEADLINE, GTAG, GSTATE
		FROM GAMES
		WHERE GCODE = #{gcode }
	</select>
	
	<select id="selectRcode">
		SELECT NVL(MAX(RCODE), 'RC00000')
		FROM REVIEWS
	</select>
	
	<insert id="insertReview" parameterType="com.gamestoreproject.dto.Review">
		INSERT INTO REVIEWS(RCODE, RGCODE, RMCODE, RDATE, RSCORE, RLIKE, RCONTENT, RSTATE)
		VALUES(#{review.rcode }, #{review.rgcode }, #{review.rmcode }, SYSDATE, #{review.rscore }, 0, #{review.rcontent }, 'Y')
	</insert>
	
	<select id="selectReviewList" parameterType="String" resultType="hashmap">
		SELECT RE.RCODE AS RCODE, TO_CHAR(RE.RDATE, 'YYYY-MM-DD HH24:MI') AS RDATE, RE.RSCORE AS RSCORE, RE.RLIKE AS RLIKE, RE.RCONTENT AS RCONTENT, MEM.MNICKNAME AS NICKNAME, MEM.MPROFILE AS PROFILE, MEM.MID AS MID
		FROM REVIEWS RE INNER JOIN MEMBERS MEM
		     ON RE.RMCODE = MEM.MID
		WHERE RGCODE = #{gcode }
		ORDER BY RE.RDATE
	</select>
	
	<delete id="deleteReview" parameterType="String">
		DELETE FROM REVIEWS WHERE RCODE = #{rcode }
	</delete>
	
	<update id="modifyReview" parameterType="com.gamestoreproject.dto.Review">
		UPDATE REVIEWS
		SET RCONTENT = #{review.rcontent }, RSCORE = #{review.rscore }
		WHERE RCODE = #{review.rcode }
	</update>
	
	<select id="selectLikeId" parameterType="String" resultType="String">
		SELECT RLMID
		FROM REVIEWLIKES
		WHERE RLRCODE = #{rcode } AND RLMID = #{memId }
	</select>
	
	<select id="getReviewLikes" parameterType="String" resultType="String">
		SELECT NVL(RLIKE, '0')
		FROM REVIEWS
		WHERE RCODE = #{rcode }
	</select>
	
	<update id="addReviewLike" parameterType="String">
		UPDATE REVIEWS
		SET RLIKE = #{likes }
		WHERE RCODE = #{rcode }
	</update>
	
	<insert id="addLikeId">
		INSERT INTO REVIEWLIKES(RLRCODE, RLMID, RLSEL)
		VALUES(#{rcode }, #{memId }, #{selected })
	</insert>
	
	<delete id="deleteReviewLikes" parameterType="String">
		DELETE
		FROM REVIEWLIKES
		WHERE RLRCODE = #{rcode }
	</delete>
	
	<select id="selectScode">
		SELECT NVL(MAX(SCODE), 'SC00000')
		FROM SHOPBASKET
	</select>
	
	<insert id="insertGameBasket" parameterType="String">
		INSERT INTO SHOPBASKET(SCODE, SMCODE, SGCODE)
		VALUES(#{scode }, #{memId }, #{gcode })
	</insert>
	<!-- 끝 -->
</mapper>